{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static "deps/css/my_footer_css.css" %}">
{% endblock %}

{% block modal_cart %}
{% include "includes/cart_button.html" %}
{% endblock  %}

{% block content %}
    <div class="mt-5 pt-5 bg-white custom-shadow rounded">
        <h2 class="m-2"><strong>{{ content }}</strong></h2>
        <p class="m-2">{{ text_on_page }}</p>
        <a href="/media/goods_images/bedside_table.jpg" download>download</a>
    <iframe src="https://yandex.com/map-widget/v1/?um=constructor%3Aec8f4363eaa5434b6052a4e24b1f8aacc07b98c982486aa1e07b67ca74afc9e3&amp;source=constructor" width="500" height="400" frameborder="0"></iframe>
    </div>
{% endblock %}

{% block footer %}
<footer class="py-4 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Home 2024</p>
    </div>
</footer>
{% endblock %}


